{% extends 'base.html' %}

{% block title %}
detail
{% endblock %}

{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        {% if user == code.author %}
        <a href="{% url 'code_feed:update' code.id %}">업데이트</a>
        {% endif %}
        <div>
            <div>
                <form class="form-area" method="post" enctype="multipart/form-data">
                    {% if page_user.profile_image %}
                        <img src="{{ page_user.profile_image.url }}" alt="프로필 이미지">
                    {% else %}
                        <span>No Image File</span>
                    {% endif %}
                </form>
            </div>
            <div>작성자: {{ code.author }}</div>
            <div>문제: {{ code.problem.title }}</div>  
        </div>
        <pre>
            <code class="python">{{ code.content }}</div>
        </pre>
        <div>
            <div>{{ code.description }}</div>
            <div>좋아요 수: {{ code.likes.count }}</div>
            <form action="{% url 'code_feed:likes' code.id %}" method="post">
                {% csrf_token %}
                <button type="submit">좋아요</button>
            </form>
            <form action="{% url 'code_feed:bookmarks' code.id %}" method="post">
                {% csrf_token %}
                <button type="submit">북마크</button>
            </form>
        </div>
        <h5 class="border-bottom my-3 py-2">{{ comments.count }}개의 댓글</h5>
        {% for comment in comments %}
        <a id="comment_{{ comment.id }}"></a>
        <div class="card my-3">
            <div class="card-body">
                <div class="mb-4">
                    <strong>{{ comment.author.username }}</strong>
                </div>
                <div class="card-text">{{ comment.content }}</div>
                <div class="d-flex justify-content-end">
                    <div class="badge badge-light text-dark p-2 text-start mx-3">
                        <div>{{ comment.created_at|timesince }} 전</div>
                    </div>
                </div>
                <div class="my-3 d-flex">
                    {% if user == comment.author %}
                    <a class="btn btn-sm btn-primary" href="{% url 'code_feed:comments:update' code_id=code.id comment_id=comment.id %}">{{comment.id}}수정</a>
                    <form method="post" action="{% url 'code_feed:comments:delete' code_id=code.id comment_id=comment.id %}">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm ml-1" type="submit">삭제</button>
                    </form>
                    {% endif %}
                </div>
                
            </div>
        </div>
        {% endfor %}
        <form action="{% url 'code_feed:comments:create' code.id %}" method="post" class="my-3">
            {% csrf_token %}
            <div class="mb-3">
                <label for="content" class="form-label">댓글 남기기</label>
                <textarea {% if not user.is_authenticated %}disabled{% endif %}
                        name="content" id="content" class="form-control" rows="3"></textarea>
            </div>
            <input type="submit" value="등록" class="btn btn-primary">
        </form>
    <div class="col">

    </div>
</div>
{% endblock %}

