<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav>
    {% if request.user.is_authenticated %}
    <div>{{ request.user.username }}</div>
    <form action="/user/logout/" method="post">
        {% csrf_token %}
        <button>로그아웃</button>
    </form>
    {% else %}
    <div>
        <a href="/accounts/login/">로그인</a>
        <a href="/accounts/signup/">회원가입</a>
        <button>로그인</button>
        <button>회원가입</button>
    </div>
    {% endif %}
</nav>
<body>
    <a href="{% url 'code_feed:insert' %}">문제 업로드</a>
    <a href="{% url 'code_feed:problems' %}">문제 리스트 보러가기</a>
    <a href="/code_feed/update/1">업데이트</a>
        <ul>
            {% for feed in feeds %}
                <li>
                    <div>문제{{ feed.problem }}</div>
                    <pre>
                    <div>{{ feed.content }}</div>
                    </pre>
                    <div>{{ feed.description }}</div>
                    <div>작성자: {{ feed.author }}</div>
                    <div>좋아요 수: </div>
                    <form action="/code_feed/{{ code_id }}/" method="post">
                        {% csrf_token %}
                        <button type="submit" formaction="/code_feed/{{ code_id }}/">좋아요</button>
                    </form>
                    <div>북마크: {{ feed.bookmarks }}</div>
                </li>
            {% endfor %}
        </ul>
</body>
</html>