{% extends 'base.html' %}

{% block title %}
Main page
{% endblock %}

{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% block profile %}
        {% include 'profile.html' %}
        {% endblock %}
        <div class="col-md-6">
            <div id="my_code_feed" class="col-md-12 mb-2" style="display: block;">
                    <ul>
                        {% for feed in feeds %}
                        <div class="card" style="margin-top: 20px; margin-bottom: 10px;">
                            <div class="card-body">
                                <a href="{% url 'code_feed:detail' code_id=feed.id %}" style="text-decoration: none;">
                                    <div class="">{{feed.author}}</div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><b>#{{feed.problem.number}}. {{ feed.problem.title }}</b></li>
                                        <pre>
                                            <code class="{{ lang }}">{{ feed.content }}</code>
                                        </pre>
                                        <li class="list-group-item">좋아요 수: {{ feed.likes__count }}</li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </ul>
            </div>

        </div>
        {% block ranking %}
        {% include 'ranking.html' %}
        {% endblock %}
    </div>
</div>

    {% block pagination %}
    {% include 'pagination.html' %}
    {% endblock %}

{% endblock %}