{% extends "base.html" %}

{% block title %}
Problems
{% endblock %}

{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% block profile %}
        {% include 'profile.html' %}
        {% endblock %}
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">제출하기</th>
                        <th scope="col">레벨</th>
                    </tr>
                </thead>
                <tbody>
                    {% for number, title, link, level, color in problems %}
                    <tr class="{{ color }}">
                        <th scope="row">{{ number }}</th>
                        <td><a class="text-primary text-decoration-none" href="{{ link }}" target="_blank">{{ title }}</a></td>
                        {% if number in solved_problems %}
                        <td><a href="{% url 'code_feed:create' problem_id=number %}"> <span class="badge text-bg-primary">수정</span></a></td>
                        {% else %}
                        <td><a href="{% url 'code_feed:create' problem_id=number %}"> <span class="badge text-bg-secondary">제출</span></a></td>
                        {% endif %}
                        <td>{{ level }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% block ranking %}
        {% include 'ranking.html' %}
        {% endblock %}
{% endblock %}