<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav>
    <!-- {% if request.user.is_authenticated %}
    <div>{{ request.user.username }}</div> -->
    <!-- <form action="/user/logout/" method="post"> -->
        <!-- {% csrf_token %} -->
        <button>로그아웃</button>
    <!-- </form> -->
    <!-- {% else %} -->
    <div>
        <!-- <a href="/accounts/login/">로그인</a>
        <a href="/accounts/signup/">회원가입</a> -->
        <button>로그인</button>
        <button>회원가입</button>
    </div>
    <!-- {% endif %} -->
</nav>
<body>
        <ul>
            {% for feed in feeds %}
                <li>
                    <div>{{ feed.problem }}</div>
                    <div>{{ feed.content }}</div>
                    <div>{{ feed.description }}</div>
                    <div>{{ feed.author }}</div>
                </li>
            {% endfor %}
        </ul>
</body>
</html>