{% extends 'base.html' %}

{% block title %}
My Page
{% endblock %}

{% block content %}
    <div class="container">
        <div class="wrap">
            <h2 class="title-center">마이페이지</h2>
            <form class="form-area" method="post" enctype="multipart/form-data">
                {# enctype을 "multipart/form-data"로 변경하여 파일 업로드를 지원함을 명시 #}
                {% if user.profile_image %}
                    <img src="{{ user.profile_image.url }}" alt="프로필 이미지">
                {% else %}
                    <span>No Image File</span>
                {% endif %}
                <hr>
                <span>{{ user.username }}</span> <br>
                <span>email : {{ user.email }}</span> <br>
                {% if user.github_address %}
                    <span>github : </span>
                    <a href="{{ user.github_address }}">{{ user.github_address }}</a>
                {% else %}
                    <span>No github address</span>
                {% endif %}
                <hr>
            </form>
        </div>
        <div class="row">
            {% for feed in feeds %}
                {% if feed.author == user %}
                <div class="col-md-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <!-- {% if feed.author == user %}
                            <div style="text-align: right">
                                <a href="/tweet/delete/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-danger">삭제</span>
                                </a>
                            </div>
                            {% endif %} -->
                            <div style="text-align: right">
                                <a href="#">
                                    <span class="badge rounded-pill bg-success">보기</span>
                                </a>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                        <h5 class="mt-0">{{ feed.content }}</h5>
                                </div>
                                <div style="text-align: right">
                                    <span style="font-size: small">{{ feed.author.username }}-{{ feed.created_at|timesince }} 전</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
